<footer class="card text-center">
  <div class="card-body">
    <a href="https://github.com/nchanh" class="btn btn-primary mb-3">nchanh</a> <br/>
      <span class="card-title">&copy; 2022 Nguyen Chanh</span>
  </div>
</footer>